body {
  margin: 0;
  padding: 0;
}

label, p, a, h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

.main {
  margin: 0 32px 32px 32px;
  max-width: 1200px;
}

.main-heading {
  max-width: 60%;
}

@media screen and (max-width: 800px) {
  .main-heading {
    max-width: 100%;
  }
}

.kollo-cards {
  display: flex;
  flex-wrap: wrap;
}

.kollo-cards__card {
  max-width: 250px;
  margin: 12px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.kollo-cards__card__content {
  padding: 6px;
}

.kollo-cards__card__content a:link, .kollo-cards__card__content a:visited {
  text-decoration: none;
  color: black;
}

.kollo-cards__card__content a:hover {
  text-decoration: underline;
  color: tomato;
}

.kollo-cards__card__image {
  height: 200px;
  width: 250px;
}

.kollo-cards__card__image img {
  max-height: 200px;
  max-width: 250px;
}

@media screen and (max-width: 620px) {
  .kollo-cards {
    justify-content: center;
  }
}

.margin-top-normal {
  margin-top: 12px;
}

.margin-right-normal {
  margin-right: 12px;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
}

.icon-button--small {
  font-size: 16px;
}

.icon-button--delete:hover {
  color: red;
}

.icon-button--add:hover {
  color: green;
}

input[type="text"], input[type="email"], select {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0 8px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  max-height: 32px;
  color: rgba(0,0,0,.87);
}

.form {
  max-width: 350px;
  margin-left: 12px;
  margin-right: 12px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input--inline {
  display: inline-flex;
  flex-direction: column;
}

.form-input__info {
  margin: 6px 0 0 0;
  font-size: 0.7em;
  color: blue;
}

.form-input label {
  margin-bottom: 6px;
}

.form-input select {
  max-width: 100px;
}

.form-success, .form-error {
  border-radius: 3px;
  color: white;
  padding: 3px;
  text-indent: 6px;
}

.form-success {
  background-color: #4caf50;
}

.form-error {
  background-color: #ff5252;
}

.selected-interests table {
  border-spacing: 0px;
  border: 2px solid black;
  width: 100%;
}

.selected-interests tr:nth-child(even) {
  background-color: #e0e0e0;
}

.selected-interests__td--delete {
  text-align: right;
}

.inline-buttons {
  display: inline-flex;
  flex-wrap: wrap;
}